<h1><%=@task.title%></h1>
<div class=box-container>
  <p><%=@task.details%></p>
</div>
<br>
<h4><%=@task.completed?%></h4>

<%= link_to "Edit", edit_task_path(@task) %>

<!-- #link to go back -->
<%= link_to "Back to list", tasks_path(@tasks) %>

<!-- #link to delete -->
<%= link_to "Delete", destroy_task_path(@task), method: :delete %>

